If the numbers $1$ to $5$ are written out in words: one, two, three, four, five, then there are $3 + 3 + 5 + 4 + 4 = 19$ letters used in total. </br>
If all the numbers from $1$ to $1000$ (one thousand) inclusive were written out in words, how many letters would be used? </br>
**NOTE**: Do not count spaces or hyphens.

In [93]:
single_digit = {0 : 0, #zero
                1 : 3, #one
                2 : 3, #two
                3 : 5, #three
                4 : 4, #four
                5 : 4, #five
                6 : 3, #six
                7 : 5, #seven
                8 : 5, #eight
                9 : 4, #nine
                }

two_special = {10 : 3, #ten
               11 : 6, #eleven
               12 : 6, #twelve
               13 : 8, #thirteen
               14 : 8, #fourteen
               15 : 7, #fifteen
               16 : 7, #sixteen
               17 : 9, #seventeen
               18 : 8, #eighteen
               19 : 8} #nineteen

two_digit = {0 : 0,
             2 : 6, #twenty
             3 : 6, #thirty
             4 : 5, #forty
             5 : 5, #fifty
             6 : 5, #sixty
             7 : 7, #seventy
             8 : 6, #eighty
             9 : 6} #ninety

hundred = 7
an = 3
thousand = 11

In [112]:
def count_number(num):
    result = 0
    if num == 1000:
        result += thousand
    elif num in range(10, 20):
        result += two_special[num]
    else:
        if num // 10 == 0:
            result += single_digit[num]
        elif num // 100 == 0:
            result += two_digit[num // 10]
            result += single_digit[num % 10]
        else:
            result += single_digit[num // 100]
            result += hundred
            if num % 100 == 0:
                return result
            else:
                result += an
                if num % 100 in range(10, 20):
                    result += two_special[num % 100]
                else:
                    result += two_digit[num % 100 // 10]
                    result += single_digit[num % 10]
    
    return result

In [100]:
count_number(7)

5

In [113]:
result = 0
for num in range(1, 1001):
    result += count_number(num)
result

21124

In [102]:
def number_to_words(n):
    # Define a dictionary for the number words
    number_words = {
        1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five',
        6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten',
        11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen',
        16: 'sixteen', 17: 'seventeen', 18: 'eighteen', 19: 'nineteen', 20: 'twenty',
        30: 'thirty', 40: 'forty', 50: 'fifty', 60: 'sixty', 70: 'seventy', 80: 'eighty',
        90: 'ninety', 100: 'hundred', 1000: 'onethousand'
    }

    if n in number_words:
        return number_words[n]

    if n < 100:
        return number_words[n // 10 * 10] + number_words[n % 10]
    elif n % 100 == 0:
        return number_words[n // 100] + 'hundred'
    else:
        return number_words[n // 100] + 'hundredand' + number_to_words(n % 100)

total_letters = sum(len(number_to_words(i)) for i in range(1, 1001))
print(total_letters)

21121

In [103]:
number_to_words(100)

'hundred'

In [108]:
number_to_words(115)

'onehundredandfifteen'

In [109]:
len(number_to_words(1000))

11

In [110]:
100 % 10

0

In [111]:
110 %10

0